<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to image_tag("shop.png"), clothes_path %></li>
        <li><%= link_to image_tag("home.png") , root_path  %></li>
        <li><%= link_to image_tag("help.png"), help_path %></li>
        <% if logged_in? %>
          <li><%= link_to image_tag("List.png"), users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: aqua ; font-size: 1.2em">
              <%= image_tag("menu.png") %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to image_tag("user.png"), current_user, style:"color: aqua ; font-size: 1.2em" %></li>
              <li><%= link_to image_tag("edit.png"), edit_user_path(current_user) , style:"color: aqua ; font-size: 1.2em"%></li>
              <li class="divider"></li>
              <li>
                <%= link_to image_tag("logout.png"), logout_path, method: :delete, style:"color: aqua ; font-size: 1.2em" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path, style:"color: aqua ; font-size: 1.2em" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>